<style>
	#bodyCal {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}
		
	#wrap {
		width: 1100px;
		margin: 0 auto;
	}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		background-color:#52419C;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		float: right;
		width: 900px;
	}

	#Students {
		float: left;
		width: 150px;
		height: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		position: absolute;
		bottom: 70px;
		background-color:#52419C;
	}

	#acceptbut{
		position: absolute;
		bottom: 10px;
		float: right;
		right: 100px;
	}

	#cancelbut{
		position: absolute;
		bottom: 10px;
		float: right;
		right: 10px;
	}

	#Addevent {
		width: 100px;
		height: 30px;
		border: 1px solid #ccc;
		font-size: 12;
		float: left;
		position: absolute;
		margin-left: 220px;
		margin-top: 0px;
	}

	#notecont {
		position: absolute;
		float: right;
		right: 150px;
		top: 40px;
	}
	#Note {
		width: 300px;
		height: 200;

	}

	#linkcont {
		position: absolute;
		float: right;
		right: 275px;
		bottom: 80px;
	}

	#startTimepicker {
		width: 75px;
		position: absolute;
		float: left;
		bottom: 35px;
		left: 10px;
	}

	#endTimepicker {
		width: 75px;
		position: absolute;
		float: left;
		bottom: 35px;
		left: 110px;
	}

	#lbendtime {
		position: absolute;
		float: left;
		bottom: 56px;
		left: 110px;
	}
	label {
	display: block;
	}
	.popup {
	    background-color:#52419C;
	    border:1px solid gray;
	    position:fixed; 
	    top:25%; 
	    left:25%; 
	    display:none; 
   	 	padding: 0px 20px 10px 10px; 
	    z-index:100;
   	 	width: 800px;
  	  	height: 400px;
		color:#000;
	}
	.popup form div{float:left; width:80px; text-align:left;}
	
	.popup form input{float:left; text-align:left;}

	.popupupdate {
	    background-color:ivory; 
	    border:1px solid gray;
	    position:fixed; 
	    top:25%; 
	    left:25%; 
	    display:none; 
   	 	padding: 0px 20px 10px 10px; 
	    z-index:100;
   	 	width: 800px;
  	  	height: 400px;
	}
	.popupupdate form div{float:left; width:80px; text-align:left;}
	.popupupdate form input{float:left; text-align:left;}

	.popupdrop{
	    background-color:ivory; 
	    border:1px solid gray;
	    position:fixed; 
	    top:25%; 
	    left:25%; 
	    display:none; 
   	 	padding: 0px 20px 10px 10px; 
	    z-index:100;
   	 	width: 800px;
  	  	height: 400px;
	}
	.popupdrop form div{float:left; width:80px; text-align:left;}
	.popupdrop form input{float:left; text-align:left;}

	ul:hover { 
    background-color: #52419C;
}
</style>