@charset "utf-8";
/* CSS Document */

.bordersDIV{
	border-style:ridge;
	border-color:#00F;
	border-width:33px;
	position:absolute;
	width:95%;
}

.bordersSmall
{
	border-style:double;
	border-color:#09C;
	border-width:20px;	
}

.ControlsDiv
{
	float:left;
}

.SearchDIV
{
	border-style:double;
	border-color:#09C;
	width:150px;
	height:50px;
	float:left;

	
}

.ResultsDIV
{
	border-style:double;
	border-color:#09C;
	width:150px;
	height:300px;

}

.ResultsOptionDIV
{
	border-style:double;
	border-color:#09C;
	width:150px;
	height:100px;

}

.MembersDIV
{
    border-style:double;
	border-color:#09C;
	float:inherit;
	width:682px;
	height:400px;
	margin-left:150px;
	margin-right:auto;
	margin-top:-400px;
		
}

.DetailsDIV
{
	border-style:double;
	border-color:#09C;
	width:400px;
	height:400px;
	float:right;
	position:relative;
	margin-top:-400px;
		
}

.profileDetailsDIV
{
	border-style:double;
	border-color:#09C;
	width:300px;
	height:500px;
	Float:left;	
}
.miscprofileDetailsDIV
{
	border-style:double;
	border-color:#09C;
	width:300px;
	height:500px;
	float:right;
	
}
p
{
	font:Arial, Helvetica, sans-serif;
		
}

h2
{
	color:#06F
}
