.headerpos{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 1; 
}

.footerpos{
    width: 100%;
    height: 70px;
    position:absolute;
    bottom: 0px; 
}

.positionleft{
	position: absolute;
    left: 2%;
}

.positioncenter{
	position: absolute;
  	left: 10%;
}

.positionright{
	position: static;
    right: 2%;
    float: right;
}
.positionrel{
    float: right;
    right: 2%;
}