@charset "utf-8";
/* CSS Document */

.backgroundColorClass
{
	background-color:#5241af;
}

#backgroundColorID
{
	background-color:#5241af;
}

.divColorClass
{
	background-color:#52419C;
	color:#FFF;
    border:groove;
	border-color:#000;
}

#divColorID
{
	background-color:#52419C;
	color:#FFF;
    border:groove;
	border-color:#000;
}

.ParaHeadFontColor
{
	color:#FFF;
}

#ParaHeadFontColor
{
	color:#FFF;
}

.profileLstBx
{
	float:left;
	width:555px;
}

.aboutImgCricle
{
	width: 140px;
    height: 140px;
	margin-top:15px;
}

.regpageDivAlign
{
	float:left;
	padding:100px;
	border:groove;
	border-color:#000;
	width:450px;
}

.logDiv
{
	background-color:#52419C;
	color:#FFF;
	border:groove;
	border-color:#000;
	width:500px;
	height:500px;
	margin-left:33%;
}

.regpageDivAlignHegiht
{
	height:430px;
}

.regpageSelectWidth
{
     width:550;
}

.regpageSelectWidthSm
{
     width:265;
}

#footer
{
		position: relative;
  		margin-top: 30px; /* negative value of footer height */
  		height: 60px;
  		clear:both;

}

.divColorClassCAL
{
	background-color:#52419C;
	color:#FFF;
}





