#abc {
width:auto;
height:auto;
opacity:.95;
top:15%;
left:30%;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
}
#con {
width:auto;
height:auto;
opacity:.95;
top:15%;
left:30%;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
}
img#close {
position:absolute;
right: 0%;
top: 0%;
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:sans-serif;
}
#popupform {
width:500px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:sans-serif;
background-color:#fff;
}
#hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc;
}
#submit{
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
}
#Business{
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
}
#Personal{
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px;
}
#h2 {
	text-align: center;
	font-family: sans-serif;
}
#h3 {
	text-align: center;
	font-family: sans-serif;
}